* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: hsl(0, 0%, 15%); */
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    /* justify-content: center; */
    background-color: hsl(0, 0%, 8%);
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    border-radius: 25px;
    width: 350px;
    margin: auto;
    background-color: hsl(0, 0%, 12%);
    border: 2px;
    overflow: hidden;
    min-height: 565px;

}

.image {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
    /* height: 50px;
    width: 50px; */
}

img {
    border-radius: 100px;
}

.name {
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 5px;
}

.location {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: hsl(75, 94%, 57%);
}

.desc {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 10px;
    font-weight: 400;

}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 500px; */
}

.link {
    width: 300px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin: 18px 10px 0px 10px;
    background-color: hsl(0, 0%, 20%);
}

a {
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
}

/* 360*740,375*667 */
@media screen and (min-width:360px) {
    body {
        padding: 45px;
    }

    .social-link {
        width: 200px;
        padding-bottom: 15px;
        margin: auto;

    }

    .link {
        width: 150px;
    }
}

@media screen and (max-height:480px) {
    body {
        padding: 0;
    }

    .main {
        border-radius: 25px;
        width: 300px;
        margin: auto;
        background-color: hsl(0, 0%, 12%);
        border: 2px;
        overflow: hidden;
        min-height: 0;

    }

    img {
        height: 85px;
    }

    .name {
        padding-top: 0;
        padding-bottom: 0;
    }

    .desc {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
    }

    .link {
        width: 200px;
    }
}